{% extends "catalog/base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }} {{ author.last_name}}</h1>

  <p><strong>Birtdate:</strong> {{ author.date_of_birth }}</a></p>
  <p><strong>Decesed:</strong> {{ author.date_of_death }}</a></p>
  <!-- author detail link not yet defined -->


  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for works in author.book_set.all %}
      <hr />
    
      <p><strong>Title:</strong> <a href="{{ works.get_absolute_url }}">{{ works.title }}</a></p>
      <p><strong>Genre:</strong> {{ works.display_genre }}</p>
    {% endfor %}
  </div>
{% endblock %}
